body {
    background: #F0D9D3!important;
}

.logos, .action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

.action a {
    color: #ff3f6c;
    text-decoration: none;
    padding: 10px 10px;
    outline: none;
    border: 1px solid #ff3f6c;
}

.action a:hover {
    background: #ff3f6c;
    color: #FEFEFE;
    transition: ease-in 0.4s;
}