    <div class="nav-wrapper1">
        <nav class="navbar1">
            <div class="icons center">
                <a class="mr-1" href="/client">
                    <img class="width-client" src="/public/img/MyntraLogo_black.svg" alt="myntra_logo">
                </a>
            </div>
            <div class="menu-toggle1" id="mobile-menu">
                <span class="bar1"></span>
                <span class="bar1"></span>
                <span class="bar1"></span>
            </div>
            <ul class="nav transition move">
                <li class="nav-item1"><a href="/client/near-me">Ambassadors Near Me</a></li>
                <li class="nav-item1"><a href="/client/referral">Refer from Ambassador</a></li>
            </ul>
        </nav>
    </div>