    <style>
        #latitude{
            display:none;
        }   
        #longitude{
            display:none;
        }
    </style>
    <div class="nav-wrapper1">
        <nav class="navbar1">
            <div class="icons center">
                <a class="mr-1" href="/client">
                    <img class="width-client" src="/public/img/MyntraLogo_black.svg" alt="myntra_logo">
                </a>
            </div>
            <div class="menu-toggle1" id="mobile-menu">
                <span class="bar1"></span>
                <span class="bar1"></span>
                <span class="bar1"></span>
            </div>
            <ul class="nav transition move">
                <li class="nav-item1"><a href="/client/add_last_mile" class="green">Add Last Mile</a></li>
                <li class="nav-item1"><a href="/client/add_return_requests" class="green">Add Return Requests</a></li>
                <!-- <li class="nav-item1"><a href="/client/near-me" class="orange">Ambassadors Near Me</a></li> -->
                <li class="nav-item1">
                    <form action="/client/near-me" method="POST">
                        <input type="text" name="latitude" id="latitude">
                        <input type="text" name="longitude" id="longitude">
                        <button>Ambassadors Near</button>
                    </form>
                </li>
                <li class="nav-item1"><a href="/client/referral" class="orange">Refer from Ambassador</a></li>
                <li class="nav-item1"><a href="/client/feedback" class="orange">Feedback</a></li>
            </ul>
        </nav>
    </div>