<header>
    <div class="header">
        <img width="15%" src="/public/img/MyntraLogo_white.svg" alt="myntra_logo">
        <img class="m-2" width="15%" src="/public/img/ambassador_color.svg" alt="ambassador_logo">
    </div>
</header>