<!doctype html>
<html lang="en">
<head>
    <%- include ('head.ejs') %>
    <link rel="stylesheet" href="../public/css/home.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="logos mt-5">
                <img class="mr-2" width="45%" src="/public/img/MyntraLogo_black.svg" alt="myntra_logo">
                <img class="ml-2" width="45%" src="/public/img/ambassador_line.svg" alt="ambassador_logo">
            </div>
        </div>
        <div class="row center">
            <div>
                <img src="/public/img/women_ambassador.png" alt="Women_Ambassador" width="50%">
            </div>
        </div>
        <div class="row">
            <div class="action">
                <h3><a class="m-3 btn-1" href="/register">REGISTER</a></h3>
                <h3><a class="m-3 btn-1" href="/login">LOGIN</a></h3>
            </div>
        </div>
    </div>

</body>
</html>