<div class="nav-wrapper1">
    <nav class="navbar1">
        <div class="icons center">
            <a class="mr-1" href="/">
                <img class="width" src="/public/img/MyntraLogo_black.svg" alt="myntra_logo">
            </a>
            <a href="/">
                <img class="width move" src="/public/img/ambassador_color.svg" alt="ambassador_logo">
            </a>
        </div>
        <div class="menu-toggle1" id="mobile-menu">
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
        </div>
        <ul class="nav transition move">
            <li class="nav-item1"><a href="/profile"><span id="user_icon" class="iconify" data-icon="mdi-light:account"></span></a></li>
            <li class="nav-item1"><a href="/">Home</a></li>
            <li class="nav-item1"><a href="/referrals">Referrals</a></li>
            <li class="nav-item1"><a href="/earnings">Earning</a></li>
            <li class="nav-item1"><a href="/about">How It Works</a></li>
            <li class="nav-item1"><a href="/contact">Contact Us</a></li>
            <li class="nav-item1"><a href="/logout">Logout<span style="transform: translate(0,-10%)" class="iconify" data-icon="mdi:logout"></span></a></li>
        </ul>
    </nav>
</div>