<div class="nav-wrapper">
    <nav class="navbar">
        <div class="icons center">
            <a class="mr-1" href="/">
                <img class="width" src="/public/img/MyntraLogo_black.svg" alt="myntra_logo">
            </a>
            <a href="/">
                <img class="width move" src="/public/img/ambassador_color.svg" alt="ambassador_logo">
            </a>
        </div>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav transition move">
            <li class="nav-item"><a href="/profile"><span id="user_icon" class="iconify" data-icon="mdi-light:account"></span></a></li>
            <li class="nav-item"><a href="/home">Home</a></li>
            <li class="nav-item"><a href="/refs">Referrals</a></li>
            <li class="nav-item"><a href="/earning">Earning</a></li>
            <li class="nav-item"><a href="/about">How It Works</a></li>
            <li class="nav-item"><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
</div>